@tailwind base;
@tailwind components;
@tailwind utilities;

button[type="submit"] {
    background: linear-gradient(180deg,#fff,#ecebe5 86%,#d8d0c4);
}

button[type="submit"]:disabled {
    background: none;
}

.aboutGradient {
    background: linear-gradient(to left, #5a7dde, #92b1f4, #5a7dde);
}